.username {
  padding: 0px 8px;
}

.alignuser {
  display: flex;
  align-items: center;
}
.state {
  align-items: center;
  display: flex;
}
.access {
  align-items: center;
  display: flex;
}
.accessIcon {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.active {
  color: #7af761;
}

.Parentdiv {
  display: flex;
  justify-content: space-between;
}

.Listdiv {
  width: 100%;
}

.Particular {
  cursor: pointer;
}

.Particular:hover {
  background-color: #feb24b;
}

.alignuser p {
  margin: 0;
  font-size: 11px;
  display: flex;
}

.pagebtn {
  display: flex;
  justify-content: center;
}

.pagebtn button {
  background-color: #feb24b;
  border: 0px;
  padding: 8px;
  width: 35px;
  border-radius: 10px;
  cursor: pointer;
  margin: 3px;
  font-size: 0.8rem;
}

.pagebtn button:hover {
  background-color: #b68035;
}

