.showlist {
  font-size: 20px;
  overflow: scroll;
<<<<<<< HEAD
  overflow-x: hidden;
=======
>>>>>>> Practical-03/04
  max-height: 380px;
}

.showlist div {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.showlist p {
  margin: 0;
}

.delIcon {
  cursor: pointer;
}

.taskCompletedIcon {
  cursor: pointer;
  color: #50e3a4;
}

.taskCompletedText{
    opacity: 0.5;
}